
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: blue;
    color: white;
    padding: 1em;
    text-align: center;
}
.header-link {
    text-decoration: none; 
    color: inherit; 
}

.header-link h1 {
    color: inherit; 
}

.header-link:hover h1 {
    text-decoration: none; 
    cursor: pointer; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}


.section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 5px 0;
}

form input, form select, form button {
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
    transform: scale(0.9);
}


ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

ul li a:hover {
    text-decoration: underline;
}


footer {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.delete-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Add transition effects */
}

.delete-button:hover {
    background-color: darkred; 
    transform: scale(1.1); 
}

